<p>Oi do Video {{name}}</p> 

<button (click) ="submit($event)">clique</button>


<!--Condicional da sintaxe antiga em versões anteriores do Angular-->
<h1 *ngIf="deveMostrarTitulo">Meu titulo</h1>  


<!--Condicional da sintaxe nova em versões atuais do Angular-->
@if (deveMostrarTitulo) 
{
    <h1>Meu titulo</h1>
}@else if (name == "Lucas") 
{
    <h1>Meu titulo para Lucas</h1>
}
@else
{
    <h1>Não foi verdadeiro</h1>
}

<!--Condicional da sintaxe nova em versões atuais do Angular-->
@for(item of listItems; track item) 
{
    <p>{{item}}</p>
}

